.catalog-sections {
  padding-top: 20px;

  @media (min-width: @breakpoint-medium) {
    padding-top: 0;
  }

  @media (min-width: @breakpoint-large) {
    padding-top: 82px;
  }
}

.catalog-sections__container {
  @media (min-width: @breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  position: relative;

  padding: 22px 20px 18px;

  background: @color-gray-50;

  @media (min-width: @breakpoint-medium) {
    padding: 69px 316px 60px 52px;
  }

  @media (min-width: @breakpoint-large) {
    padding: 47px 52px 62px;
  }

  & + & {
    margin-top: 20px;

    @media (min-width: @breakpoint-medium) {
      margin-top: 30px;
    }

    @media (min-width: @breakpoint-large) {
      margin-top: 0;
    }
  }
}

.catalog-sections__title {
  position: relative;

  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 72px;
  display: flex;
  align-items: center;

  font-family: @font-heading;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: @breakpoint-medium) {
    position: static;

    padding-left: 0;
    margin-bottom: 18px;

    font-size: 36px;
  }

  @media (min-width: @breakpoint-large) {
    position: relative;

    padding-left: 162px;
    min-height: 100px;
    margin-bottom: 39px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    left: 0;
    top: 0;

    width: 50px;
    height: 50px;

    background-color: @color-primary-500;
    border-radius: 50%;

    @media (min-width: @breakpoint-medium) {
      top: calc(50% - 95px);
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media (min-width: @breakpoint-large) {
      top: 0;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }

  &::after {
    background-size: contain;
  }
}

.catalog-sections__title--slim {
  &::after {
    left: 7px;
    top: -3px;

    width: 36px;
    height: 50px;

    background-image: url("../img/icons/cat-slim.svg");

    @media (min-width: @breakpoint-medium) {
      top: calc(50% - 106px);
      right: 92px;
      left: auto;

      width: 140px;
      height: 194px;
    }

    @media (min-width: @breakpoint-large) {
      left: 15px;
      top: -6px;

      width: 70px;
      height: 97px;
    }
  }
}

.catalog-sections__title--pro {
  &::after {
    left: -10px;
    top: 11px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icons/cat-pro.svg");

    @media (min-width: @breakpoint-medium) {
      top: calc(50% - 51px);
      right: 28px;
      left: auto;

      width: 268px;
      height: 112px;
    }

    @media (min-width: @breakpoint-large) {
      left: -19px;
      top: 20px;

      width: 134px;
      height: 56px;
    }
  }
}

.catalog-sections__text {
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;

  color: @color-gray-700;
  border-bottom: 1px solid @color-gray-200;

  @media (min-width: @breakpoint-medium) {
    margin-bottom: 54px;
    padding: 0;

    border: none;
  }

  @media (min-width: @breakpoint-large) {
    margin-bottom: 30px;
  }
}

.catalog-sections__link {
  display: grid;
  grid-template-columns: max-content 32px;
  align-items: center;
  gap: 17px;

  color: @color-black;

  font-family: @font-heading;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @breakpoint-medium) {
    gap: 27px;
    font-size: 20px;
    line-height: 38px;
  }

  &::after {
    content: "";

    width: 24px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url("../img/icons/arrow.svg");
  }

  &:hover {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
    }
  }
}
